@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500;1,700&family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
*{
    margin: 0px;
    padding: 0px;

}
.bgimg{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('bg.jpg');
    background-size: 100% 110%;
    width: 100%;
    height: 100vh;
}
.menu{
    width: 100%;
    height: 100px;
    background-color: rgba(0,0,0,0.5);
 }
.leftmenu{
    width: 30%;
    line-height: 100px;
    float: left; 
}
.leftmenu h4{
    padding-left: 70px;
    font-weight: bold;
    color: white;
    font-size: 22px;
    font-family: 'Montserrat',sans-serif;
} 
.rightmenu{
    width: 70%;
    height: 100px;
    float: right;
}
.rightmenu ul{
    margin-left: 200px;
}
.rightmenu ul li {
    font-family: 'Montserrat',sans-serif;
    display: inline-block;
    list-style: none;
    font-size: 15px;
    color: white;
    font-weight: bold;
    line-height: 100px;
    margin-left: 40px;
    cursor: pointer;
}
.rightmenu li a{
    text-decoration: none;
    font-family: 'Montserrat',sans-serif;
    display: inline-block;
    list-style: none;
    font-size: 15px;
    color: white;
    font-weight: bold;
    line-height: 100px;
    margin-left: 20px;
    cursor: pointer;
}
#first-list{
    color:orange;
}
.rightmenu ul li:hover{
    color: orange
}
.rightmenu ul li a:hover{
    color: orange;
}
.text{
    width: 100%;
    margin-top: 185px;
    text-transform: uppercase;
    text-align: center;
    color: white;
}
.text h4{
    font-size: 14px;
    font-family:'Open Sans',sans-serif;
   
}
.text h1{
    font-size: 60px;
    font-family: 'Montserrat',sans-serif;
    font-weight: bolder;   
    margin:14px 0px;
}
.text h3{
    font-size: 12px;
    font-family:'Open Sans',sans-serif;
}
#button-one{
    background-color: white;
    border: none;
    font-size: 12px;
    font-family: 'Montserrat',sans-serif;
    text-transform: uppercase;
    line-height: 40px;
    width: 150px;
    margin-top: 25px ;
    border: 3px solid white;
}
#button-two{
    background-color: transparent;
    font-size: 12px;
    font-family: 'Montserrat',sans-serif;
    text-transform: uppercase;
    line-height: 40px;
    width: 150px;
    margin-top: 25px;
    color: white;
    border: 3px solid white;
}
.login, .hero{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('login_bg.jpg');
    background-size: 100% 110%;
    width: 100%;
    height: 100vh;
    background-position: center;
    position: absolute;
}
.form-box{
    width: 385px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background:#ffff;
    padding: 5px;
    overflow: hidden;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0px;
    outline: none;
    position: relative;
}
#btn{
    top:0;
    left:0;
    position: absolute;
    width: 110px;
    height: 100%;
    background:linear-gradient(to right , #ff105f ,#ffad06);
    border-radius:30px ;
    transition: .5s;
}
.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding: 10px 0px;
    margin: 5px 0px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom:1px solid #999;
    outline: none;
    background: transparent;
    font-family: 'Montserrat', sans-serif;

}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f ,#ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.check-box{
    margin: 30px 10px 30px 0;
}
span{
    color: #777;
    font-size: 12px;
    bottom: 65px;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
}
#login{
    left: 50px;
}
#register{
    left: 450px;
}